# Virtual Environments & Secrets
.env
venv/
env/
.conda/

# Python caches
__pycache__/
*.pyc

# Jupyter Notebooks
.ipynb_checkpoints/

# Machine Learning Weights & Large Data
*.pt
*.pth
*.bin
*.safetensors
logs/
models/
logs_*/

# HPC / Cluster Logs
slurm-*.out